@import '../../styles/global.scss';

.rating {
    display: flex;
    font-size: 1.5rem;

    .star {
        margin: 0 0.2rem;
    }

    .full-star {
        color: $primary-color;
    }

    .empty-star {
        color: #E3E3E3;
    }
}








