.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-container {
    flex-grow: 1;
    margin : 20px auto;
    width: calc(100% - 40px);
}
  
footer {
    margin-top: auto;
}

@media (min-width: 800px) {
    .main-container {
        max-width: 1240px;
    }
}