@import '../../styles/global.scss';



.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  
    .host-name {
        color: $primary-color;
        margin: 0;
        line-height: 1.2;
        text-align: right;
    }
  
    .host-picture {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
}