@import '../../styles/global.scss';

.collapse {
    color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    width: 100%;

    .collapse-header {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 100%;
        background-color: $primary-color;
        color: white;
        border: none;
        cursor: pointer;
        text-align: left;
        font-size: 13px;
        font-weight: bold;
        border-radius: 0.5rem;
        position: relative;
        z-index: 1;
        @media (min-width: 800px) {
            font-size: 24px;
        }

        .chevron {
            width: 16px;
            height: auto;
            transition: transform 0.3s ease;
        }

        &.open .chevron {
            transform: rotate(-180deg);
        }
    }

    .collapse-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
        background-color: #F6F6F6;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .collapse-inner {
        padding: 1.6rem 1rem 1rem 1rem;
        margin-top: -0.75rem;
        font-size: 12px;
        line-height: 1.4;
        color: black;
        @media (min-width: 800px) {
            font-size: 18px;
        }
    }

    ul {
        display: block;
        text-transform: unset;
    }

    li {
        margin: 0;
    }
}


