@import '../../styles/global.scss';

.collapse {
    color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;

    .collapse-header {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 100%;
        background-color: $primary-color;
        color: white;
        border: none;
        cursor: pointer;
        text-align: left;
        font-size: 1rem;
        border-radius: 0.5rem;

        .chevron {
            width: 16px;
            height: auto;
            transition: transform 0.3s ease;
        }

        &.open .chevron {
            transform: rotate(-180deg);
        }
    }


    .collapse-content {
        padding: 1rem;
        font-size: 0.75rem;
        line-height: 1.4;
        color: black;
        background-color: #F6F6F6;
        border-radius: 0 0 0.5rem 0.5rem;
        animation: animation-collapse 1s ease-in-out;
    }


    ul {
        display: block;
        text-transform: unset;
    }

    li {
        margin: 0;
    }
}

@keyframes animation-collapse {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}